@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1f2129;
  /* background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);
  background: linear-gradient(to right, #feb47b, #ff7e5f); */
}

.cardBox {
  background-color: white;
}

.loader {
  background: #4ecdc4;
  background: -webkit-linear-gradient(to right, #556270, #4ecdc4);
  background: linear-gradient(to right, #556270, #4ecdc4);
}

.inputBox {
  background-color: whitesmoke;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
}
